<script src="https://web-assets.stylitics.com/loader/latest/loader.js"></script>
  
<div id="stylitics-widget-container"></div>

<script>
let widgetInstance = new StyliticsDimensionCollageWidget("anneklein", "stylitics-widget-container", {
  api: {
    tags: "{{ tag }}",
    max: 10,
    min: 3
  },
  display: {
    swipeableCarouselArrows: true,
    swipeableCarouselNextItemPeek: 0.275
  }
});
widgetInstance.start();
</script>