<script type="text/template" id="wizzy-autocomplete-topproducts" wizzy-override>
  <div class="wizzy-autocomplete-top-products">
    <p class="top-products-title">Products</p>
    <ul class="autocomplete-top-products">
      [[#products]]

      <li
        class="topproduct-item has-thumbnail-sticker"
        title="[[& name ]]"
        data-id="[[id]]"
        data-groupId="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
      >
        <a href="[[&url]]" class="topproduct-item-link">
          <div class="sticker-holder sticker-shape-square sticker-position-left">
            <div class="sticker-holder__content sticker-holder__content--">
              [[#newArrivalTag]]
              <div class="new-sticker thumbnail-sticker sticker-"><span class="sticker-text">New</span></div>
              [[/newArrivalTag]] [[#bestSellerTag]]
              <div class="best-sellers-sticker thumbnail-sticker sticker-0">
                <span class="sticker-text">Best Seller</span>
              </div>
              [[/bestSellerTag]] [[#saleTag]]
              <div class="sale-sticker thumbnail-sticker sticker-"><span class="sticker-text">Sale</span></div>
              [[/saleTag]]
            </div>
          </div>
          <div class="topproduct-item-image">
            <img src="[[ mainImage ]]" class="topproduct-image" loading="lazy">
          </div>
          <!-- ending of topproduct-item-image -->
          <div class="topproduct-item-image hover-image">
            [[#hoverImage]]
            <img src="[[ hoverImage ]]" class="topproduct-image" loading="lazy">
            [[/hoverImage]] [[^hoverImage]]
            <img src="[[ mainImage ]]" class="topproduct-image" loading="lazy">
            [[/hoverImage]]
          </div>
          <!-- ending of topproduct-item-image -->
          <div class="topproduct-item-info">
            <p class="topproduct-title">[[& name ]]</p>
            [[#hasCategories]]
            <p class="topproduct-in-category">in [[&category]]</p>
            [[/hasCategories]]
            <p class="topproduct-price">
              [[#price]] [[#discountPercentage]]
              <span class="topproduct-original-price"> [[#priceWithCurrency]][[ price ]][[/priceWithCurrency]] </span>
              [[/discountPercentage]] [[/price]] [[#priceWithCurrency]][[ sellingPrice ]][[/priceWithCurrency]]
              <br>
   [[#discountPercentage]]
              <span class="topproduct-item-discount">


                [[discountPercentage]]% off
              </span>
  [[/discountPercentage]]
            </p>
  [[#hasMoreColor]]
  <a href="[[&url]]" class="more_color">+More Colors</a>
  [[/hasMoreColor]]
          </div>

          <!-- ending of topproduct-item-info -->
        </a>
        <!-- ending of topproduct-item-link -->
      </li>
      <!-- ending of topproduct-item -->

      [[/products]]
    </ul>
    <!-- ending of autocomplete-top-products -->
    [[^isForDefault]]
    <div class="autocomplete-top-products-view-more">
      <button type="button" class="btn btn--small wizzy-autocomplete-top-products-view-more">View More</button>
    </div>
    [[/isForDefault]]
  </div>
  <!-- ending of top-products -->
</script>
