<div id="bv-title-wrapper">
<h3 id="bv-title" style="text-align: center;">How You’re Wearing It</h3>
<p id="bv-subtitle" style="text-align: center;">Tag Us <a href="https://www.instagram.com/annekleinofficial/?hl=en" target="_blank" class="font-medium">@AnneKleinOfficial</a></p>
<div id="ugc-button-container"><div class="ugc-button"><a class="ugc-button-link" href="/pages/how-you-re-wearing-it">View Style Gallery</a></div></div>
</div>
<div data-crl8-container-id="homepage"></div>

{% schema %}
  {
    "name": "BV Widget",
    "settings": [],
    "presets": [{ "name": "BV Widget" }]
  }
{% endschema %}