{% comment %}
{% section 'loyalty-rewards-video' %}
{% endcomment %}

<div class="yotpo-widget-instance" data-yotpo-instance-id="1046898"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="46153"></div>